@import "tailwindcss";

:root {
  
}

@theme {
  /* Your colors – single color gets bg-primary, etc. */
  --color-primary: #f8e0ed;
  --color-secondary: #d62d88;
  --color-tertiary: #e463a4;
  --color-quaternary: #e949a3;
  --color-orange: #eb3f2b;
  --color-dark: #060000;
  --color-gray: #373737;
  --gray-color: #bababa;
  --color-light-mode-test: #1f2937;
  --color-text-hdd: #667085;
  --color-brown: #250416;
  --color-accent0: #fabfd3;
  --color-darkgray: #525252;
  --background: #f8e0ed;
  --foreground: #171717;

  /* Fonts – these become font-sans, font-heading, etc. */
  --font-sans: var(--font-dm-sans), ui-sans-serif, system-ui, sans-serif;
  --font-heading:
    var(--font-outfit), var(--font-cal-sans), ui-sans-serif, system-ui,
    sans-serif;
  --font-cal-sans: var(--font-cal-sans), sans-serif;
  --font-outfit: var(--font-outfit), sans-serif;

  /* Optional extras you had before */
  --background-image-hero-gradient: linear-gradient(
    to bottom right,
    #4c1d95,
    #7c3aed,
    #db2777
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-primary);
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--color-primary);
  color: var(--foreground);
  font-family: var(--font-dm-sans);
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-container {
  display: flex;
  width: 100%;
}

.marquee-content {
  display: flex;
  animation: marquee 20s linear infinite;
  will-change: transform;
}

.marquee-text {
  padding-right: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-cal-sans), sans-serif;
}


h1 {
  @apply text-6xl lg:text-7xl ;
}
h2 {
  @apply text-4xl lg:text-5xl capitalize;
}
h3 {
  @apply text-2xl capitalize;
}
h4 {
  @apply text-base capitalize;
}
h5 {
  @apply text-sm capitalize;
}
p {
  @apply text-base lg:text-lg font-normal;
}

